%script
  = "var all_users = #{@users.to_json};".html_safe
%h1 Find friends

= form_tag('/', :id => 'search') do
  = search_field_tag(:user_search)
  = button_tag('Add friend', :id => 'add_friend_btn')

- unless @friends.empty?
  %ul#friends
    - @friends.each do |friend|
      %li= friend.username
      %li= friend.id
      %li=# link_to( friend.username, chat_path( Chat.find_by(:user2_id => friend.id) ) )

- unless @friend_requests.empty?
  %h3= 'Awaiting approval'
  %ul#friends_waiting
    - @friend_requests.each do |friend|
      %li= friend.username

