%script
  = "var all_users = #{@users.to_json};".html_safe
%h1 Find friends

= form_tag('/', :id => 'search') do
  = search_field_tag(:user_search)
  = button_tag('Add friend', :id => 'add_friend_btn')

- unless @friends.empty?
  %h3 Your friends:
  %ul#friends
    - @friends.each do |friend|
      %li= friend.username
      -# %li= friend.id
      -#%li= link_to( friend.username, chat_path( Chat.find_by(:user2_id => friend.id) ) )

- unless @friend_requests.empty?
  %h3= 'You have friend requests:'
  %ul#friends_waiting
    - @friend_requests.each do |friend|
      %li
        %span= "#{friend.username}"
        = "#{link_to('Approve', '#', :id => 'approve_friend')}".html_safe

- unless @pending_friend_requests.empty?
  %h3= 'Awaiting your friend\'s approval'
  %ul#friends_waiting
    - @pending_friend_requests.each do |friend|
      %li
        %span= "#{friend.username}"