%h1 Chat to Fireball

%div#my_chats
  %ul
    - @chats.each do |chat|
      %li
        = link_to( LANGUAGES.invert[chat.language], chat_path(chat.id) )
        = form_tag "/chats/#{chat.id}" do
          = button_tag('x', :class => 'show_delete_chat')
        =# link_to('x', "/chats/#{chat.id}", :class => 'show_delete_chat')


%div#chatsubmittag
= button_tag "New chat", :id => 'new_chat_button'

%div#new_chat.invisible
  = label_tag :chat_language
  = select :chat, :language, @language_select
  = submit_tag "Create new chat", :id => :create_new_chat