%h2= "Fireball is talking in #{ LANGUAGES.invert[@chat.language] }"

%div#chat_id.invisible
  = @chat.id

%div#chat_messages
  - @chat_messages.each do |msg|
    %div#chat_box
      %li= image_tag( msg.image , :class => "sticker" )
      %li= msg.created_at.strftime( "%b %e %Y %l:%M %p" ) + ": "
      %li= msg.input_text
      %li.translation= msg.translation
      %audio{:src => msg.sound }

%div#input
  = form_tag "/chats/#{params[:id]}/messages" do
    = text_field_tag :input_text, nil, :autocomplete => "off", :autofocus => :true
    = submit_tag "Speak", :id => "speak"
    = button_tag "Top", :id => "scroll-to-top"
