%h2= "Fireball is talking in #{ LANGUAGES.invert[@chat.language] }"

%div#chat_id.invisible
  = @chat.id

%div#chat_messages
  - @chat_messages.each do |msg|
    %div#chat_box
      %li= msg.created_at.strftime( "%e/%m/%Y %H:%M" ) + ": " + msg.input_text
      %li= msg.translation


= form_tag "/chats/#{params[:id]}/messages" do
  = text_field_tag :input_text, nil,:autocomplete => "off"
  = submit_tag "Speak", :id => "speak"