%h2= "Fireball is talking in #{ LANGUAGES.invert[@chat.language] }"

%div#chat_messages
  - @chat.messages.each do |msg|
    %li= msg.input_text


= form_tag "/chats/#{params[:id]}/messages" do
  = text_field_tag :input_text
  = submit_tag "Speak", :id => "speak"