%h1.about#title Fireball
%h2.about#sub-title - Rescue peng -

%div.about#summary
  %h3 Play in over 50 languages.
  %div.about_peng
    = image_tag('/assets/emoticons/happy.png')
  %p Peng the penguin likes to chat!
  %p Test your language skills!
  %div.signup_signin
    = link_to("Sign up", new_user_path, :class => 'formsubmit')
    = link_to("Sign in", login_path, :class => 'formsubmit')


%div.us_box
  %div.me_box
    %div.bio_img
      = image_tag( asset_path('/assets/emoticons/punch.png') )
    %h3 Rira
    %ul.links
      %li
        %a{:href => "http://github.com/rirachoi"} rirachoi@GitHub

  %div.me_box
    %div.bio_img
      = image_tag( asset_path('/assets/emoticons/smoke.png') )
    %h3 Rich
    %ul.links
      %li
        %a{:href => "http://github.com/toodelirious"} toodelirious@GitHub

  %div.me_box
    %div.bio_img
      = image_tag( asset_path('/assets/emoticons/fireball.png') )
    %h3 Larlyn
    %ul.links
      %li
        %a{:href => "http://github.com/lyntco"} lyntco@GitHub
      %li
        %a{:href => "http://blog.lynt.co"} My blog

%div.acknowledgements
  %h5 Icon credit
  %ul.icon_credit
    %li Fire designed by <a href="http://www.thenounproject.com/alanhussey">Alan Hussey</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    %li Chat designed by <a href="http://www.thenounproject.com/joe_harrison">Joe Harrison</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    %li Gear designed by <a href="http://www.thenounproject.com/jorishoogendoorn">Joris Hoogendoorn</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    %li Login designed by <a href="http://www.thenounproject.com/lingaile.ziukaite.9">Lingailė Žiūkaitė</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    %li Logout designed by <a href="http://www.thenounproject.com/lingaile.ziukaite.9">Lingailė Žiūkaitė</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    %li Sign Up designed by <a href="http://www.thenounproject.com/jenswindolf">Jens Windolf</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

%footer
  %p General Assembly WDI5, June 2014