%h1 Battle Fireball

%div#my_games
  %ul
    - @games.each do |game|
      %li
        = link_to( LANGUAGES.invert[game.language], game_path(game.id) )
        = form_tag "/games/#{game.id}" do
          = button_tag('x', :class => 'show_delete_game')


= button_tag "New game", :id => 'new_game_button'

%div#new_game.invisible
  = label_tag :game_language
  = select(:game, :language, LANGUAGES)

  = submit_tag "Create new game", :id => :create_new_game