-# %script
-#   = "var questions = #{@questions}".html_safe # THIS NEEDS TO BE IN AJAX AFTER YOU HIT PLAY

-# %div#word_list

%div#game_id.invisible
  = @game.id


%div#game_window
  %h1#game_title= "Battle fireball " + LANGUAGES.invert[@game.language]

  %div#toolbar
    %div#boxscore
      %span Score:
      %span#score 0
      %div#boxcontrol

  %div#container
    %div#ani_container

  %figure.gamebtn
    %button#btnplay= "PLAY"
    %div.btnshadow

  %div#userAnswer
    = text_field_tag :userInput, nil, :placeholder => 'Type Your Answer Here!'
    = submit_tag 'Submit', :id => "btnsubmit"
