!!!
%html
  %head
    %title Fireball
    %meta{content: "width=device-width", name: "viewport"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body


    %nav
      - if @current_user
        %div.current_user_box
          = image_tag(@current_user.avatar, :class => 'avatar')
          %h2.username= @current_user.username
      - else
        %div.current_user_box
          = image_tag( asset_path('assets/emoticons/fireball.png'), :class => 'avatar')
      %div
      = smartnav.html_safe

  %div.content
    = yield